.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.pageFade {
  animation: fadeInPage 0.5s;
}
@keyframes fadeInPage {
  from { opacity: 0; }
  to { opacity: 1; }
} 